@using Microsoft.AspNetCore.Components.Forms

@model CredentialFormModel

@if (Model.Schemas.Count() == 0) {
    <a class="btn btn-primary mt-3" role="button" asp-controller="Credentials" asp-action="RegisterSchema">Register Degree Schema</a>
} else {
    <form novalidate autocomplete="off" asp-controller="Credentials" asp-action="IssueCredentials">
        <div class="form-group">
            <select class="custom-select custom-select-lg mb-3" name="ConnectionId">
                <option selected disabled value="">Select a Connection</option>
                @foreach (var Connection in Model.Connections)
                {
                    if (Connection.State == ConnectionState.Connected) {
                        <option value="@Connection.Id">@Connection.Alias.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <select class="custom-select custom-select-lg mb-3" name="SchemaId">
                <option selected disabled value="">Select a Schema</option>
                @foreach (var Schema in Model.Schemas)
                {
                    <option value="@Schema.Id">@Schema.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <select class="custom-select custom-select-lg mb-3" name="CredentialDefinitionId">
                <option selected disabled value="">Select a CredentialDefinition</option>
                @foreach (var CredentialDefinition in Model.CredentialDefinitions)
                {
                    <option value="@CredentialDefinition.Id">@CredentialDefinition.Id</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="CredentialAttributes">Add credential attributes in JSON array format:</label>
            <textarea class="form-control" id="CredentialAttributes" name="CredentialAttributes"
                      cols="30" rows="10">@CredentialFormModel.DefaultAttributes</textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">
            Offer Credential
        </button>
    </form>
}
