@using WebAgent.Utils

@model CredentialsViewModel

<div class="card-deck">
@foreach (var c in Model.Credentials) {
    <div class="card shadow-sm mt-3">
        <div class="card-body">
            <div class="card-title"></div>
            <div class="card-text">
                <div>
                    <small class="text-muted">Schema ID:&nbsp;</small>
                    <p>@c.SchemaId</p>
                </div>
                <div>
                    <small class="text-muted">Creation Date :&nbsp;</small>
                    <p>@c.CreatedAt.TimeAgo()</p>
                </div>
                <div>
                    <small class="text-muted">State :&nbsp;</small>
                    <p>@c.State.ToString()</p>
                </div>
                <div>
                    <small class="text-muted">Attributes :&nbsp;</small>
                    @foreach (var v in c.CredentialAttributesValues) {
                        <p><span>@v.Name: @v.Value</span></p>
                    }
                </div>
            </div>
        </div>
    </div>
}
</div>