@using WebAgent.Protocols
@using WebAgent.Protocols.BasicMessage
@using WebAgent.Utils
@model ConnectionDetailsViewModel

<div class="row mt-2">
    <div class="col-md-6">
        <div class="card text-center mb-2">
            <div class="card-body">
                <img style="width: 100px; height: 100px" src="@Url.Identicon(Model.Connection.Alias.Name, size: 200)" alt="@Model.Connection.Alias.Name">
                <h5 class="card-title mt-2">@Model.Connection.Alias.Name</h5>

                <small class="text-muted">@Model.Connection.Endpoint?.Uri</small>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="MY DID">@Model.Connection.MyDid</li>
                <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="THEIR DID">@Model.Connection.TheirDid</li>
                <li class="list-group-item">
                    <form class="container" asp-controller="Connections" asp-action="SendTrustPing">
                        <input type="hidden" name="connectionId" value="@Model.Connection.Id" />
                        <button class="btn btn-sm btn-outline-primary mt-2" type="submit">Send Trust Ping</button>
                        @if (Model.TrustPingSuccess != null)
                        {
                            if (!Model.TrustPingSuccess.Value)
                            {
                                <div class="alert alert-danger mt-2 alert-dismissible fade show" role="alert">
                                    Ping timeout!
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
                                    <small>Success!</small>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                        }
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-header">
                Conversation
            </div>
            <div class="card-body ">
                @if (!Model.Messages.Any())
                {
                    <small class="text-muted">No messages</small>
                }
                else
                {
                    foreach (var message in Model.Messages.OrderBy(x => x.CreatedAtUtc))
                    {
                        if (message.Direction == MessageDirection.Incoming)
                        {
                            <div class="d-flex flex-row">
                                <div class="p-2 mr-5 bg-secondary text-white rounded basic-message">@message.Text</div></div>
                            <div class="d-flex flex-row mb-2 ">
                                <small class="text-muted font-italic">@message.SentTime.ToLocalTime().TimeAgo()</small></div>
                        }
                        else
                        {
                            <div class="d-flex flex-row-reverse">
                                <div class="p-2 ml-5 bg-primary text-white rounded basic-message">@message.Text</div></div>
                            <div class="d-flex flex-row-reverse mb-2">
                                <small class="text-muted font-italic">@message.SentTime.ToLocalTime().TimeAgo()</small></div>
                        }
                    }
                }
            </div>
            <div class="card-footer">
                <form class="input-group mb-3" asp-controller="Connections" asp-action="SendMessage">
                    <input type="hidden" name="connectionId" value="@Model.Connection.Id" />
                    <input type="text" name="text" autocomplete="off" class="form-control" placeholder="Type message here" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>