@namespace BlazorHosted.Features.Connections.Components
@using BlazorHosted.Features.Bases
@inherits BaseComponent

<div data-qa="@TestId">
  <p>Current count: @ConnectionState.Connections.Count</p>

  <table class="table">
    <thead>
      <tr>
        <th>Alias</th>
        <th>Id</th>
        <th>Status</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var connection in ConnectionState.Connections.Values)
      {
        <tr>
          <td>@connection.Alias?.Name</td>
          <td>@connection.Id</td>
          <td>@connection.State</td>
          <td>@connection.CreatedAtUtc</td>
          <td>
            <a href=@Pages.Connections.Delete.GetRoute(connection.Id)>
              Delete
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
